* {
  box-sizing: border-box;
}

:root {
  --verde-cancha: #15803d;
  --verde-oscuro: #14532d;
  --verde-claro: #22c55e;

  --blanco: #ffffff;
  --negro: #0f172a;
  --gris: #64748b;
  --gris-claro: #e2e8f0;

  --dorado: #facc15;
  --rojo: #dc2626;

  --sombra: 0 8px 24px rgba(15, 23, 42, 0.12);
  --radio: 16px;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--negro);
  background: #f1f5f9;
}